@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
  
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
header a, footer a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
header a:hover, footer a:hover {
    text-decoration: double;
    color: dimgray;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding: 40px;
    
}
section p {
    padding-bottom: 2em;
}


section#img01{
    background-image: url("../Cordel-Moderno/background001.jpg");
    background-position: right center;
    
}

section#img02{
    background-image: url("../Cordel-Moderno/background002.jpg");
    background-position:   left bottom;
    
}

section.normal{
    background-color: white;
    color: black;
    font-family: cursive;
     
}
section.imagem{
    background-color: rgb(87, 85, 85);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.678);
    background-size: cover;
    background-attachment: fixed;
   
}
section.imagem p{
    background-color: rgba(0, 0, 0, 0.671);
    display: inline-block;
    padding: 10px;
}































footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 9px;

}
footer a{
    font-variant: small-caps;
}